/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/

* {
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100%;
    border-bottom: 1px solid black;
}
.header__logo {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    flex-basis: 30%;
    flex-grow: 1;
}
.header__minilogo {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 0.4rem;

}
.header__container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: start;
    padding: 10px 0px;
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
    flex-basis: 70%;
    flex-grow: 1;
}
.nav__item {
    text-decoration: none;
    color: black;
    transition: all 0.3s linear;
    font-size: 18px;
    &:hover {
        transform: translateY(-3px);
        color:black;
        background-color: rgb(171,171,171);
        border-radius: 5px;
        padding: 5px;
    }
}
.active {
    border-bottom: 3px solid black;
}
.logo {
    width: 20px;
    height: 60px;
    flex-basis: 10%;
    flex-grow: 1;
}
.page__title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
